<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>User Details - FreshLife</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <img src="/static/images/freshLife.png" class="logo-left" alt="FreshLife Logo">
    <img src="/static/images/freshLife.png" class="logo-right" alt="FreshLife Logo">

    <div class="container">
        <div class="phone">
            <div class="lensmain">
                <div class="camera1"></div>
                <div class="camera2"></div>
            </div>
            <div class="mute"></div>
            <div class="volup"></div>
            <div class="voldown"></div>
            <div class="power"></div>
            <div class="antena"></div>
            <div class="logo">FreshLife</div>
            <a href="/login" class="login-button" onclick=logout()>Log out</a>

            <!-- Form for User Details -->
            <form id="userForm" method="POST" action="/updateUser" style="display: flex; flex-direction: column; align-items: center;">
                <input type="number" name="age" id="age" placeholder="Age" class="input-field3" required>
                <input type="number" name="height" id="height" placeholder="Height (cm)" class="input-field3" required>
                <input type="number" name="weight" id="weight" placeholder="Weight (kg)" class="input-field3" required>
            
                <div style="width: 80%; text-align: left; margin-top: 10px;">Goal</div>
                <div class="button-group" id="goal-group">
                    <input type="hidden" name="goal" id="goal" required>
                    <button type="button" class="select-button" onclick="selectOption('goal', 'deficit')">Deficit</button>
                    <button type="button" class="select-button" onclick="selectOption('goal', 'maintenance')">Maintenance</button>
                    <button type="button" class="select-button" onclick="selectOption('goal', 'bulk')">Bulk</button>
                </div>
            
                <div style="width: 80%; text-align: left; margin-top: 10px;">Activity Level</div>
                <div class="button-group" id="activity-group">
                    <input type="hidden" name="activity" id="activity" required>
                    <button type="button" class="select-button" onclick="selectOption('activity', 'none')">None</button>
                    <button type="button" class="select-button" onclick="selectOption('activity', '1-2 times/week')">1-2</button>
                    <button type="button" class="select-button" onclick="selectOption('activity', '3-4 times/week')">3-4</button>
                    <button type="button" class="select-button" onclick="selectOption('activity', '4-7 times/week')">4-7</button>
                </div>
            
            </form>
            <button type="submit" class="button">Complete Registration</button>
            <button type="button" class="button1" onclick="window.location.href='/base'">Return</a>
            </div>
        </div>
    <script src="/static/js/modifyUser.js"></script>
    <script src="/static/js/auth.js"></script>
</body>
</html>
